#subscribe-form-popup {
/*  color:red;*/
  background-color: #f16522;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 3px;
  text-align: center;
  width: 600px;
  height: 300px;

}